/*
// Grotesk
// http://mediumextrabold.com/
// -----------------------------------------*/


@font-face {
  font-family: 'Grotesk-Bold';
  src:
    url('../fonts/Grotezk-Bold.woff2') format('woff2'),
    url('../fonts/Grotezk-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Grotesk-Regular';
  src:
    url('../fonts/Grotezk-Regular.woff2') format('woff2'),
    url('../fonts/Grotezk-Regular.woff') format('woff');
}