/* 
// Local Variables
// ------------------------------------------------*/

// Sizing
$feature-block-mobile-width: 70%;
$feature-block-width: 60%;
$feature-block-max-wdith: 700px;
$feature-block-height: 100vh;
$feature-block-min-height: 600px;

// Breakpoints
$min-height-mobile: 15em;
$min-height-breakpoint-1: 25em;
$min-height-breakpoint-2: 25em;

// Spacing
$feature-block-spacing: $base-spacing*4;

// BG Colors
$feature-block-bg-color: #0000ff;
$feature-overlay-color: rgba(22, 22, 255, 0.7);

// Content Colors
$Content-color: #fff;


.FeatureBlock {
  position: relative;
  width: 100%;
  height: $feature-block-height;
  min-height: $min-height-mobile;
  background-color: $feature-block-bg-color;

  @include media-breakpoint-up(sm) {
    min-height: $min-height-breakpoint-1;
  }

  @include media-breakpoint-up(md) {
    min-height: $min-height-breakpoint-2;
  }
}

.featureBlock.imgBkg {
  background-image: url('../img/pattern.svg');
  background-position: center;
  background-size: cover;
}

.FeatureBlock-videoBkg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.FeatureBlock-video {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featureBlock-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &.color-overlay {
    background-color: $feature-overlay-color;
  }
}

.FeatureBlock-content {
  position: absolute;
  width: $feature-block-mobile-width;
  color: $Content-color;

  @include media-breakpoint-up(sm) {
    width: $feature-block-width;
  }

  /* Postioning of Content:
  x, y:  
  c = centered
  t = top
  b = bottom
  l = left
  r = right
  */
  // Centered
  &.c-c {
    @include centerer(true, true);
  }
  //Centered Top
  &.c-t {
    margin-top: $feature-block-spacing;
    @include centerer(true, false);
  }
  // Centered Left
  &.c-l {
    margin-left: $feature-block-spacing;
    @include centerer(false, true);
  }
  // Centered Right
  &.c-r {
    right: 0%;
    margin-right: $feature-block-spacing;
    @include centerer(false, true);
  }
  // Left Top
  &.l-t {
    margin-top: $feature-block-spacing;
    margin-left: $feature-block-spacing;
  }
  // Left Bottom
  &.l-b {
    bottom: 0%;
    margin-bottom: $feature-block-spacing;
    margin-left: $feature-block-spacing;
  }
  // Right Top
  &.r-t {
    right: 0%;
    margin-top: $feature-block-spacing;
    margin-right: $feature-block-spacing;
  }
  // Right Bottom
  &.r-b {
    bottom: 0%;
    right: 0%;
    margin-bottom: $feature-block-spacing;
    margin-right: $feature-block-spacing;
  }
}

/*
// Feature Content
//-----------------------------------------------------*/

.page__header {
  font-size: 60;
  margin-top: 32px;
  margin-bottom: 16px;

  @include media-breakpoint-up(sm) {
    font-size: 80px;
    margin-top: 44px;
    margin-bottom: 22px;
  }
}

.page__intro {
  font-size: 22px;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
    font-size: 28px;
  }
}

.get__thwockin {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #fff;
  transition: all $t-speed-fast;
  
  @include media-breakpoint-up(sm) {
    margin-top: 40px;
    font-size: 22px;
    margin-bottom: 40px;
  }

  &:hover {
    color: $thwock-blue;
    background-color: #fff;
    border: 2px solid #fff;
  }
}

.heroArrow {
  animation: pulse 2.5s ease-in-out infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}


