/* =================================================
//
// Landing Page
//
// ================================================= */



/* Get Thwocking Section
----------------------------------*/
.GetThwockin {
  @include make-container();
  margin-top: $base-block / 2;

  @include media-breakpoint-up(md) {
    margin-top: $base-block;
  }
}

.GetThwockin__inner {
  //@include make-row;
}

.InputGroup {
  @include make-row();
  //@include make-col();
  //@include make-col-span(12);
}

/* Thwock URL
----------------------------------*/

.InputGroup__URL {
  margin-bottom: $base-block;
  margin-left: 20px;
  margin-right: 20px;

  @include media-breakpoint-up(sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.description {
  color: $dark-grey;

  @include media-breakpoint-up(sm) {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 100px;
  }
}

.thwock__url {
  width: 100%;
  max-width: 600px;
}

/* Device Selection
----------------------------------*/

.arrowWrap {
  margin-bottom: 70px;
}

.InputGroup__Radio {
  @include clearfix;
  margin-bottom: $base-block;

  @include media-breakpoint-up(sm) {
    margin-top: 70px;
  }
}

.InputGroup__Submit {
  margin-bottom: $base-block;
}

.DeviceWrap {
  @include make-col();
  width: 60%;
  float: none;
  margin: 15px auto;
  @include media-breakpoint-up(sm) {
    float: left;
    width: 20%;
    margin: 0;
  }
}

.DeviceWrap__inner {
  position: relative;
  padding-bottom: 100%;
}

.deviceSelection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.deviceSelection .device__selector {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
}

.deviceSelection__icon {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    //background-color: #F3F3F3;
    border: 2px solid #F3F3F3;
    transition: border $t-speed-fast;
  }

  &:hover {
    border: 2px solid $thwock-blue;
  }
}

.deviceSelection__icon img {
  @include centerer(true,true);
  width: 60%;
  pointer-events: none;
}

.deviceSelection input[type="radio"]:checked + .deviceSelection__icon {

  &::after {
    border: 2px solid $thwock-blue;
  }
}

.deviceSelection .selection__name {
  @include centerer(true,false);
  left: 50%;
  bottom: 16px;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    display: inline-block;
    width: 0;
    height: 3px;
    background-color: $thwock-blue;
    transition: width $t-speed-fast;
  }
}

.deviceSelection input[type="radio"]:checked ~ .selection__name {
  &::after {
    width: 100%;
  }
}

.thwockIt {
  color:  $thwock-blue;
  border-color: $thwock-blue;
  font-size: 18px;
  transition: all $t-speed-fast;

  @include media-breakpoint-up(sm) {
    font-size: 22px;
  }

  &:hover {
    color: #fff;
    background-color: $thwock-blue;
    border-color: $thwock-blue;
  }
}


/* Footer
----------------------------------*/
.Footer {
  @include make-container();
  margin-top: $base-block;
  margin-bottom: $base-block;
}

.credit {
  color: $dark-grey;
  margin: 1em 0;
}

.credit.left {
  @include media-breakpoint-up(sm) {
    float: left;
    padding-left: 15px;
  }
}

.credit.right {
  @include media-breakpoint-up(sm) {
    float: right;
    padding-right: 15px;
  }
}

.credit__link {
  font-family: $grotesk-bold;
  text-decoration: none;
  color: $black;
}